.fa-brands {
    font-size: 3rem;
}

.squares div {
    font-size: 50px;
    /* padding: 10px; */
}

body div {
    padding: 10px;
}


.sq_1 {
    background-color: #2980b9;
    margin-right: 20px;
}
.sq_2 {
    background-color: #8e44ad;
    margin: 40px 20px;
}
.sq_3 {
    background-color: #d35400;
    margin: 10px;
}
.sq_4 {
    background-color: #f39c12;
    margin: 10px 20px 30px 40px;
}

.mario {
    height: auto;
    width: 50px;
    border: 1px solid black;
    background-color: #2980b9;
    margin: 5px;
}

.map {
    height: 200px;
    padding: 20px;
    background-position: bottom;
    background-size: 20% 100%;
    margin-bottom: 70px;
    display: flex;
}

.map_1 {
    align-items: center;
    justify-content: space-between;
}

.map_2 {
    justify-content: space-between;
}

.map_3 {
    flex-direction: column;
    align-items: center;
}

.facts {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.facts_n {
    padding: 10px;
    background-color: #34495e;
    color: #ecf0f1;
    border-radius: 5px;
    margin: 10px;
}