.fa-brands {
    font-size: 3rem;
}

.squares div {
    font-size: 50px;
    /* padding: 10px; */
}

body div {
    padding: 10px;
}


.sq_1 {
    background-color: #2980b9;
    margin-right: 20px;
}
.sq_2 {
    background-color: #8e44ad;
    margin: 40px 20px;
}
.sq_3 {
    background-color: #d35400;
    margin: 10px;
}
.sq_4 {
    background-color: #f39c12;
    margin: 10px 20px 30px 40px;
}

.mario {
    height: auto;
    width: 50px;
    border: 1px solid black;
    background-color: #2980b9;
    margin: 5px;
}

.map {
    height: 200px;
    padding: 20px;
    background-position: bottom;
    background-size: 20% 100%;
    margin-bottom: 70px;
    display: flex;
}

.map_1 {
    align-items: center;
    justify-content: space-between;
}

.map_2 {
    justify-content: space-between;
}

.map_3 {
    flex-direction: column;
    align-items: center;
}

.facts {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.facts_n {
    padding: 10px;
    background-color: #34495e;
    color: #ecf0f1;
    border-radius: 5px;
    margin: 10px;
}

.mycode {
    height: 100vh;
    background-image: linear-gradient(to left bottom, rgba(255, 127, 80, 0.629), rgba(192, 192, 192, 0.623) 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
   background-color: rgba(167, 115, 216, 0.689);
   width: 85.6mm;
   height: 53.98mm;
   border-radius: 3.18mm;
   color: #fff;
   padding: 6mm;
   box-sizing: border-box;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 6mm;
   grid-template-rows: repeat(3, 1fr);
}

select, input {
    outline: none;
    background-color: transparent;
    border: 1px solid;
    color: inherit;
    width: 100%; 
    padding-left: 2px;
    box-sizing: border-box;
}

.card>[type="number"] {
    grid-row-start: 2;
}

select {
    grid-column-end: span 2;
}

[type="text"] {
    grid-row-start: 3;
    grid-column-end: span 2;
}

.card__date {
    grid-row-start: 3;
    display: flex;
    /* height: 100%; */
    /* align-content: stretch; */
    align-items: center;
    justify-content: flex-end;
    grid-column-end: span 2;
    gap: 6px;
}

::placeholder {
    color: #f39c12
}

